@import "tailwindcss";
/* Making html and body take full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Wrapper div (the one in  template) */
div.bg-gray-400 {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Main content grows to fill remaining space */
main {
  flex: 1;
}
